@if (isDesktop()) {
  <div class="flex items-center px-3 py-2 h-19">
    <div class="flex-4">
      <label class="toggle text-base-content"
             [class.text-warning]="isLightTheme()">
        <input #toggleInput
               type="checkbox"
               [ngModel]="isLightTheme"
               (ngModelChange)="toggleThemeDarkMode()"/>
        @if (isLightTheme()) {
          <span>
          <ng-icon name="bootstrapSun" class="p-0" size="14"/>
        </span>
        } @else {
          <span>
          <ng-icon name="bootstrapMoon" class="p-0" size="14"/>
        </span>
        }
      </label>
      @for (heading of Headings; track heading.id) {
        <a class="btn btn-soft ms-2"
           [class.btn-primary]="heading.id === selectedBookmark()?.id"
           href="/#{{heading.id}}">{{heading.text}}</a>
      }
    </div>
    <div class="flex-8 text-end">
      @for(contact of contacts; track $index) {
        <a [class]="contact.className"
           [href]="contact.href"
           [target]="contact.target">
          <ng-icon [name]="contact.iconName" />
          <span class="ms-1">{{contact.text}}</span>
        </a>
      }
    </div>
  </div>
} @else {
  <div class="flex items-center justify-between px-3 h-19">
    <div>
      <button class="btn btn-soft"
              popovertarget="headerMenu"
              style="anchor-name:--anchor-1">
        <ng-icon name="bootstrapThreeDotsVertical" class="p-0" size="16" />
      </button>
      <ul class="dropdown menu w-52 rounded-box bg-base-100 shadow-sm w-full"
          popover id="headerMenu" style="position-anchor:--anchor-1">
        @for (heading of Headings; track heading.id) {
          <li [class.mt-2]="$index > 0">
            <a [class.text-primary]="heading.id === selectedBookmark()?.id"
               href="/#{{heading.id}}">{{heading.text}}</a>
          </li>
        }
        @for(contact of contacts; track $index) {
          <li class="mt-2">
            <a [class]="contact.className"
               [href]="contact.href"
               [target]="contact.target">
              <ng-icon [name]="contact.iconName" />
              <span class="ms-1">{{contact.text}}</span>
            </a>
          </li>
        }
      </ul>
    </div>
    <h1 class="fs-4 mb-0 ms-2">
      {{title()}}
    </h1>
  </div>
}
