<header app-header></header>
<main>
  <router-outlet />
</main>
@if (isMobile()) {
  <div class="mobile-menu">
    <div class="contact-items flex items-center justify-between">
      @for(contact of contacts; track $index) {
        <a [class]="contact.className"
           [href]="contact.href"
           [target]="contact.target"
           [id]="contact.href" [title]="contact.text">
          <ng-icon [name]="contact.iconName" />
        </a>
      }
    </div>
  </div>
}
<div [innerHTML]="snippetScript()"></div>
