<div class="card">
  <div class="card-body">
    <div class="mb-3">
      <a class="btn btn-primary" routerLink="/">Back To Portfolio</a>
    </div>
    <div class="prose-lg text-center">
      <h1>Legal Disclosure</h1>
      <p>© Ali Roshanzamir Golafzani. All rights reserved.</p>
      <p>Portfolio projects displayed with client permission.</p>
      <p>No user data collected. Contact: <a href="mailto:a76roshanzamir@gmail.com.info">a76roshanzamir&#64;gmail.com</a></p>
    </div>
  </div>
</div>
