/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "style/mixins" as mixins;
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --header-height: calc(#{var(--spacing)} * 19);
  --banner-height: 200px;
  //--root-bg: #d7d7d7;
}

* {
  scroll-behavior: smooth;
  scroll-margin: calc(#{var(--spacing)} * 25);
}
html {
  overflow-x: hidden;
}
main {
  min-height: 1000px;
  overflow-x: hidden;
}

header {
  transition: all .3s ease-in-out;
  margin-bottom: calc(#{var(--spacing)} * 5);
  z-index: 2;
  &.position-sticky {
    box-shadow: var(--shadow-md);
    @include mixins.dark-theme() {
      background-color: var(--color-info-content);
    }
    @include mixins.light-theme() {
      background-color: var(--color-base-300);
    }
  }
}

.header-top {
  top: calc(#{var(--header-height)} + (#{var(--spacing)} * 5))
}

.position-sticky {
  position: sticky;
}

.skeleton {
  user-select: none;
  pointer-events: none;
}

section {
  //min-height: 200px;
  //visibility: hidden;
  //transform: translateX(-50%);
  //transition: all 0.3s ease-in-out;
  //animation-fill-mode: both;
  //&.visible {
  //  visibility: visible;
  //  transform: translateX(0);
  //}
}

.content {
  &.space-top {
    margin-top: 0;
  }
}

.banner {
  min-height: auto;
  z-index: 1;
  width: 100%;
  top: var(--header-height);
}

@media (max-width: 48rem) {
  main {
    min-height: 2500px;
  }
}
@media (min-width: 48rem) {
  .banner {
    position: fixed;
    aspect-ratio: 1;
    animation-name: scroll-stick-right;
    animation-timeline: scroll(block nearest);
    animation-range: 0 60vh;
    animation-fill-mode: both;
  }
  .content.space-top {
    margin-top: calc(1.2 * #{var(--banner-height)})!important;
  }
}

.image-wrapper {
  position: relative;
  width: 200px;
  margin: 0 auto;
  height: var(--banner-height);
  --image-shadow: black;
  @include mixins.dark-theme() {
    --image-shadow: #404040;
  }
  img {
    filter: drop-shadow(2px 4px 6px var(--image-shadow));
  }
}

@keyframes scroll-stick-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(50vw - calc(#{var(--banner-height)} / 2)));
  }
}

.content-section {
  padding: calc(6 * var(--spacing));
  transition: all ease-in-out .05s;
  .section-content {
    border-inline-start: 4px solid var(--color-primary);
    @include mixins.light-theme() {
      background-color: var(--color-base-300);
    }
    @include mixins.dark-theme() {
      background-color: var(--color-base-300);
    }
  }
}
ng-icon {
  vertical-align: middle !important;
}

.mobile-menu {
  padding-inline: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  .contact-items {
    border-radius: 8px 8px 0 0;
    padding: 8px 12px;
    @include mixins.light-theme() {
      background-color: var(--color-base-300);
    }
    @include mixins.dark-theme() {
      background-color: var(--color-info-content);
    }
  }
}
